{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["*.{ts,tsx}"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/eslint-recommended"
      ]
    }
  ]
}
